.user-info {
  width: 100%;
  background: #2a2f46;
  min-height: calc(var(--vh, 1vh) * 100);
}

.user-info-user {
  /* position: absolute; */
  color: #fff;
  /* top: 0;
    left: 0; */
  width: 100%;
  background-color: #161a29;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.user-info-user > .user-info-user-account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
}

.user-info-user > .user-info-user-account-info > img {
  clip-path: circle(50%);
  width: 110px;
  height: auto;
}

.user-info-user > .user-info-user-account-info > h4 {
  margin: 4px 0 0;
  font-size: 1em;
  font-weight: 400;
}

.user-info-user > .user-info-user-account-info > h4 > span {
  margin: 0;
  font-weight: bold;
}

.user-info-user > .user-info-user-account-info > p {
  margin: 0;
  font-size: 12px;
  color: #b7bbbe;
}

.user-info-user > ul {
  margin: 10px 0 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
}

.user-info-user > ul > li {
  list-style: none;
  display: flex;
  color: #fff;
  cursor: pointer;
  padding: 10px 4%;
}

.user-info-user .active {
  border-bottom: 3px solid #7289da;
}

.user-info-user > ul > li > svg {
  display: inline-block;
  font-size: 20px;
}

.user-info-user > ul > li > p {
  display: none;
}

.user-info-user-account-info-error {
  height: 151px;
}

.user-NotLoggedIn {
  margin-top: 55px;
  text-align: center;
  color: #fff;
}

/* ----------- dashboard ----------- */
/* .user-dashboard>div {
    padding-top: 60px;
  } */

.user-dashboard > div > .dashboard-card {
  width: 70%;
  margin: 70px auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transform: translateY(0px);
  transition: 0.2s;
  cursor: pointer;
}

.user-dashboard > div > .dashboard-card:hover {
  transform: translateY(-10px);
}

.user-dashboard > div > .dashboard-card > svg {
  padding: 10px;
  font-size: 2.5em;
  border-radius: 20%;
  margin-top: -25px;
  color: #fff;
}

.user-dashboard > div > .servers > svg {
  background: linear-gradient(135deg, #00f289, #0fdc87);
}

.user-dashboard > div > .channels > svg {
  background: linear-gradient(135deg, #58b5e3, #03b5f6);
}

.user-dashboard > div > .dms > svg {
  background: linear-gradient(135deg, #f7305d, #ec7f97);
}

.user-dashboard > div > .dashboard-card > h3 {
  font-size: 2em;
  margin: 5px 0;
}

.user-dashboard > div > .dashboard-card > p {
  margin: 0;
}

/* ----------- dashboard ----------- */
/* -----------  servers  ----------- */
.user-servers > .servers > .server-card {
  width: 70%;
  background-color: #fff;
  margin: 70px auto;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.user-servers > .servers > .server-card > .server-header {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.user-servers > .servers > .server-card > .server-header > .server-icon-region {
  position: relative;
  height: 100px;
  width: 100px;
}

.user-servers
  > .servers
  > .server-card
  > .server-header
  > .server-icon-region
  > .server-icon {
  border-radius: 10px;
  position: absolute;
  top: -12px;
  left: -12px;
  width: 100px;
  height: auto;
  box-shadow: 1px 1px 0 0 #c2c1be, 4px 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

.user-servers
  > .servers
  > .server-card
  > .server-header
  > .server-icon-region
  > .server-flag {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: auto;
  border: 2px solid #fff;
  border-radius: 5px;
}

.user-servers > .servers > .server-card > .server-header > .server-header-info {
  position: absolute;
  right: 20px;
  top: 0;
}

.user-servers
  > .servers
  > .server-card
  > .server-header
  > .server-header-info
  > p {
  color: #fff;
  border-radius: 4px;
  background: #7289da;
  padding: 5px 9px;
  font-size: 12px;
  font-weight: 600;
}

.user-servers > .servers > .server-card > .server-info {
  padding: 0 20px 10px;
}

.user-servers > .servers > .server-card > .server-info > span > h3 {
  margin: 0;
}

.user-servers > .servers > .server-card > .server-info > span > p {
  margin: 0;
  font-size: 12px;
}

.user-servers > .servers > .server-card > .server-info > ul {
  padding: 0 5px;
}

.user-servers > .servers > .server-card > .server-info > ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-servers > .servers > .server-card > .server-info > ul > li > p {
  margin: 0;
}

/* -----------  servers  ----------- */
/* ----------- channels  ----------- */
/* ----------- channels  ----------- */
/* -----------    dms    ----------- */
/* -----------    dms    ----------- */
/* -----------  account  ----------- */
/* -----------  account  ----------- */
/* ----------- settings  ----------- */
/* ----------- settings  ----------- */

@media only screen and (min-width: 768px) {
  .user-info {
    width: 100%;
    background: #161a29;
    min-height: calc(var(--vh, 1vh) * 100);
  }

  .user-info-user {
    position: fixed;
    /* height: 80vh; */
    border-right: none;
    color: #fff;
    top: 50px;
    left: 2px;
    box-shadow: none;
    margin: 0;
    width: 290px;
  }

  .user-info-user > .user-info-user-account-info > img {
    width: 100px;
  }

  .user-info-user > .user-info-user-account-info {
    margin-bottom: 45px;
    padding-top: 45px;
  }

  .user-info-user > .user-info-user-account-info > h4 {
    margin: 14px 0 0;
  }

  .user-info-user > ul {
    margin: 0;
    display: flex;
    width: 85%;
    padding: 0;
    flex-direction: column;
    margin: 0 auto;
  }

  .user-info-user > ul > li {
    list-style: none;
    display: flex;
    text-align: right;
    align-items: center;
    color: #fff;
    padding: 4px 0 4px 20px;
    margin: 5px 0;
    text-transform: lowercase;
    border-radius: 13px;
  }

  .user-info-user .active {
    /* border-radius: 12px; */
    background: linear-gradient(135deg, #7289da, #866ad9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 2px 0 2px 17px;
  }

  .user-info-user .active > svg {
    color: #7289da;
    background-color: #fff;
    border-radius: 25%;
    padding: 3px;
  }

  .user-info-user > ul > li > svg {
    display: inline-block;
  }

  .user-info-user > ul > li > p {
    padding-left: 15px;
    display: inline-block;
  }

  .user-info > .data {
    position: absolute;
    right: 30px;
    color: white;
    top: 90px;
    width: calc(100% - 360px);
  }
}
